#units-admin {
    width: 100%;
}

#units-admin .units-admin-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}