.search-field {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.search-field input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

/* DARK THEME */
.search-field-on-dark {
    background-color: rgba(255,255,255,0.2);
}

.search-field-on-dark input {
    caret-color: #fff;
    color: #fff;
}

.search-field-on-dark input::placeholder {
    color: rgba(255,255,255,0.5);
}

/* LIGHT THEME */
.search-field-on-light {
    background-color: rgba(0,0,0,0.2);
}

.search-field-on-light input {
    caret-color: #000;
    color: #000;
}

.search-field-on-light input::placeholder {
    color: rgba(0,0,0,0.5);
}

.search-field input{
    width: 100%;
}

