#new-booking {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#new-booking-content-container {
    display: flex;
    justify-content: center;
    min-height: 1px;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 10px;
    margin-bottom: 20px;
}

#new-booking-form {
    max-width: 700px;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}