#new-booking {
    display: flex;
    flex-direction: column;

}

#new-booking-content-container {
    display: flex;
    justify-content: center;
    min-height: 1px;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 10px;
    margin-bottom: 20px;
}

#new-booking-form {
    max-width: 700px;
    width: 100%;
}