/* Guest Details */

#formGuest-details #new-guest-form #name-section, #formGuest-details #new-guest-form #comm-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    #formGuest-details #new-guest-form #name-section, #formGuest-details #new-guest-form #comm-section {
        grid-template-columns: 1fr;
    }
}

#formGuest-details #new-guest-form #address-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

/* Occupant Details */

#occupant-details #occupant-numbers #occupant-numbers-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

#occupant-details #occupant-numbers #occupant-numbers-middle, #occupant-details #occupant-numbers #occupant-numbers-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Equipment Details */

#equipment-select-container, #extra-select-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    grid-auto-rows: 100px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    #equipment-select-container, #extra-select-container {
        grid-template-columns: 1fr;
    }
}

#equipment-select-container button, #extra-select-container button {
    display: block !important;
}

#equipment-select-container svg, #extra-select-container svg {
    height: 30px !important;
}

#equipment-select-container svg.highlighted, #extra-select-container svg.highlighted {
    fill: #fff !important;
}

/* Booking Details */

#booking-details #date-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    #booking-details #date-container {
        grid-template-columns: 1fr;
    }
}