#app-frame {
    height: 100vh;
    width: 100vw;
    display: grid; 
    grid-template-columns: 4em 1fr; 
    grid-template-rows: 4em 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "top-bar top-bar"
        "lh-menu main-content"; 
}

#app-frame #app-top-bar {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    background: rgb(0,4,40);
    background: linear-gradient(90deg, rgba(0,4,40,1) 35%, rgba(0,78,146,1) 100%);
    grid-area: top-bar;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#app-frame #app-top-bar #app-title {
    margin: 0;
}


#app-frame #app-lh-menu {
    grid-area: lh-menu;
}

#app-frame #main-content-container {
    padding: 1rem;
    grid-area: main-content;
    background-color: #f5f5f5;
    min-width: 1px;
    height: 100%;
    overflow: auto;
}