.content-block {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.content-block .content-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}