#dashboard {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 200px 200px 200px 200px 200px; 
    gap: 30px; 
    padding: 10px;
    grid-template-areas: 
      "arrival-forecast arrival-forecast arrival-forecast quick-menu"
      "arrival-forecast arrival-forecast arrival-forecast quick-menu"
      "on-site-now arrived-summary departed-summary on-site-tonight"
      "income-summary daily-income-breakdown daily-income-breakdown daily-income-breakdown"
      "pending-bookings daily-income-breakdown daily-income-breakdown daily-income-breakdown"; 
}

#dashboard #arrival-forecast { 
    grid-area: arrival-forecast; 
}

#dashboard #quick-menu { 
    grid-area: quick-menu; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

#dashboard #quick-menu #quick-menu-buttons-container {
    display:flex;
    flex-direction: column;
    gap: 5px;
    width: 100%
}

#dashboard #quick-menu #quick-menu-buttons-container .quick-menu-button {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: lightgrey 1px solid;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#dashboard #quick-menu #quick-menu-buttons-container .quick-menu-button:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#dashboard #on-site-summary { 
    grid-area: on-site-now; 
}

#dashboard #arrived-summary { 
    grid-area: arrived-summary; 
}

#dashboard #departed-summary { 
    grid-area: departed-summary; 
}

#dashboard #on-site-tonight { 
    grid-area: on-site-tonight; 
}

#dashboard #income-summary { 
    grid-area: income-summary; 
}

#dashboard #daily-income-breakdown { 
    grid-area: daily-income-breakdown; 
}

#dashboard #pending-bookings { 
    grid-area: pending-bookings; 
}