#occupant-details #occupant-numbers #occupant-numbers-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

#occupant-details #occupant-numbers #occupant-numbers-middle, #occupant-details #occupant-numbers #occupant-numbers-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

#occupant-details .row-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px
}

#occupant-details .field-container{
    display : flex;
    flex-direction: row;
    min-width: 150px;
    gap: 20px;
}

#occupant-details .start-end-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: 1;
    flex-wrap: wrap;
}

